#listings_index_container {
	background-color: white;
	height: 100vh;
	width: 100%;
	padding-left: 40px;
	padding-top: 20px;
}

#listings_index_wrapper {
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-auto-rows: 1fr;
	width: 100%;
	max-width: 96%;
	display: grid;
	column-gap: 24px; 
	row-gap: 40px;
	align-items: stretch;
}


