#IR_container {
	height: 240px;
	width: 100%;
	background-color: green;
}

#IR_wrapper {
	height: 100%;
	width: 100%;
	display: flex; 
	flex-direction: row; 
}

#IR_top_bar_wrapper {
	height: 48px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: yellow;
}

#ID_reviewer_image {
	height: 24px; 
	width: 24px; 
	border-radius: 50%;
	background-color: black;
}