#image_slider {
    height: 100%;
    width: 100%;
}

#listing_index_slider_wrapper {
    height: 100%;
    width: 100%;
}
.listing_index_slider_image { 

	min-height: 400px;
    max-height: 480px;
	width: 100%;
	border-radius: 12px;
	object-fit: cover;
}

#image_slider_wrapper {
    height: 100%;
    width: 100%;
}