#RSI_container {
	height: 200px;
	width: 100%; 
	background-color: whitesmoke;
	border-bottom: var(--border-bottom-grey);
	line-height: 1.43;
	box-shadow: var(--box-shadow);
	margin-bottom: 30px;
}

#RSI_wrapper {
	height: 100%;
	width: 100%;
	display: flex; 
	justify-content: space-between;
}

#RSI_left_wrapper {
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;

}

#RSI_topleft_wrapper {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: var(--border-bottom-grey);
	position: relative;
	left: 18px;
}

#RSI_bottom_wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

#RSI_bottomleft_leftside_wrapper {
	color: var(--lsp-secondary-font-color);
	font-size: 20px;
	display: flex; 
	align-items: center;
	height: 100%;
	width: 100%;
	position: relative;
	left: 18px;
}

#RSI_home_description {
	color: var(--lsp-secondary-font-color);
}

#RSI_title {
	font-size: 26px;
	font-weight: 800;
}

#RSI_right_side_wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#RSI_bottomleft_rightside_wrapper {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}

#RSI_image {
	height: 100%;
	width: 80%;
	border-radius: 0px 12px 12px 0px;
	object-fit: cover;
}