#RSI_container {
	height: 200px;
	width: 100%; 
	background-color: whitesmoke;
	border-bottom: var(--border-bottom-grey);
	line-height: 1.43;
	box-shadow: var(--box-shadow);
}

#RSI_wrapper {
	height: 100%;
	width: 100%;
	display: flex; 
	justify-content: space-between;
}

#RSI_left_wrapper {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: row;

}

#RSI_topleft_wrapper {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;

	border-bottom: var(--border-bottom-grey);
}

