.errors {
	color: red;
}

#login_wrapper {

	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgb(34, 34, 34, .2);
	display: flex;
	justify-content: center;
	align-items: center;
}

#login_form {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.43;
	border: 1px solid black;
	color: #222;
	padding: 24px;
	min-height: 64px;
	height: 540px;
	width: 500px;
	padding-bottom: 20px;
	display: block;
	border-radius: 12px; 
	background-color: #FFFFFF;
	box-shadow: 0 8px 28px rgba(0,0,0,0.28);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

#login_sentence {
	font-weight: 800;
}

#top_login_bar {
	display: flex; 
	justify-content: space-between;
}

#welcome {
	position: relative;
	left: 6px;
	color: rgb(34, 34, 34) !important;
	font-size: 22px;
	font-weight: 600;
	line-height: 26px;
	margin-bottom: 16px;
}

.form_input {
	border: 1px solid #B0B0B0;
	font-family: inherit;
	font-size: 16px;
	color: #222222
}

#inputs_wrapper {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	margin-right: 10px;
	margin-left: -3px;
}

.form_input {
	width: 100%;
}

#login_email {
	border-radius: 8px 8px 0px 0px;
	height: 48px;
}

#login_password {
	border-radius: 0px 0px 8px 8px;
	height: 48px;
}

.form_button {
		display: flex;
		justify-content: center;
		align-items: center;
		background: white;
		width: 100%;
		height: 100%;
		color: #222;
		font-size: 16px;
		height: 48px;
		border-radius: 8px;
		border-color: #222222;
		border-width: 1px; 
		border-style: solid; 
		font-weight: 600;
		text-align: center;
		margin-right: 16px;
		font-family: inherit;
		line-height: 20px;
		margin-top: 18px;
		margin-bottom: 18px; 
		cursor: pointer;
}

.form_button:hover {
	background-color: #EBEBEB;
}

#login_button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: top 0, left 300;
	background-image: radial-gradient( circle at center,#FF385C, #e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%, #bd1e59 75%, #bd1e59 100% );
	background-size: 200% 200%;
	width: 100%;
	height: 100%;
	font-size: 16px;
	height: 48px;
	border-radius: 8px; 
	font-weight: 600;
	text-align: center;
	margin-right: 16px;
	color: white;
	font-family: inherit;
	line-height: 20px;
	margin-top: 18px;
	margin-bottom: 18px; 
	border: none;
}

#login_button_hover {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: top 0, left 300;
	background-image: radial-gradient( circle at center,#FF385C, #e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%, #bd1e59 75%, #bd1e59 100% );
	background-size: 200% 200%;
	width: 100%;
	height: 100%;
	font-size: 16px;
	height: 48px;
	border-radius: 8px; 
	font-weight: 600;
	text-align: center;
	margin-right: 16px;
	color: white;
	font-family: inherit;
	line-height: 20px;
	margin-top: 18px;
	margin-bottom: 18px; 
	border: none;
}


#spacer {
	display: flex; 
	align-items: center;
	flex-direction: row;
	justify-content: center;
}