#top_nav_bar_container{
	height: 86px;
	position: fixed; 
	width: 100%;
	background-color: white;
}

#top_nav_bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
	z-index: 1;
	border-top: 1px solid rgba(0,0,0,0.08);
	border-bottom: 1px solid rgba(0,0,0,0.08);
	height: 100%;
}

#logo_wrapper {
	height: 100%;
	width: 100%; 
	justify-content: center;
	display: flex;
}

#search_wrapper {
	height: 100%;
	width: 100%;
	justify-content: center;
	display: flex; 
}

#socials_and_nav_wrapper {
	display: flex;
	align-items: center;
	position: relative; 
	right: 64px;
}

#settings_options_wrapper {
	display: flex;
	justify-content: end;
	height: 100%;
	width: 40%;
	padding-right: 18px;
}

a {
	text-decoration: none;
}