#top_nav_bar_container{
	height: 86px;
	position: fixed; 
	width: 100%;
}

#top_nav_bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
	z-index: 1;
	border-top: 1px solid rgba(0,0,0,0.08);
	border-bottom: 1px solid rgba(0,0,0,0.08);
	height: 100%;
}

#logo_wrapper {
	position: relative; 
	top: 8px;
	left: 40px;
}

#search_wrapper {
	height: 100%;
	width: 100%;
	justify-content: center;
	display: flex; 
}

#settings_options_wrapper {
	display: flex;
	justify-content: end;
	align-items: center;
	height: 100%;
	width: 48%;
	padding-right: 36px;
}

